@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,200&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgba(0, 0, 0, 0.8);
}

.main {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.left {
  width: 20%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  border-right: 2px black solid;
  user-select: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.left.unvisible {
  display: none;
}
.left.unvisible ~ #editor {
  width: 100%;
}
#editor {
  width: 80%;
  height: 100%;
  position: relative;
}
#icon {
  width: 30px;
}
.flname {
  width: 100%;
  height: 5vh;
  display: flex;
  align-items: center;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.7);
  border: 1px solid black;
}
.flname h2 {
  margin-left: 1em;
  font-size: 1em;
}
.content ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 95vh;
  overflow: auto;
  overflow-x: hidden;
}
.content ul li {
  width: 100%;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  border: 1px solid black;
  display: flex;
  list-style: none;
  align-items: center;
  color: blanchedalmond;
  cursor: pointer;
}
.content ul li:hover {
  background-color: rgba(200, 200, 200, 0.1);
}
.content ul li img,
.content ul li span {
  margin-left: 0.5em;
}

.newFile {
  width: 200px;
  height: 30px;
  position: fixed;
  top: 1.5em;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}
.newFile.visible {
  display: block;
}
#filename {
  width: 200px;
  padding: 0.3em 1em;
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#filename:focus {
  outline: none;
}

.newFolder {
  width: 200px;
  height: 30px;
  position: fixed;
  top: 1.5em;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}
.newFolder.visible {
  display: block;
}
#foldername {
  width: 200px;
  padding: 0.3em 1em;
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#foldername:focus {
  outline: none;
}

.context-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  padding: 0.3em;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  border-radius: 5px;
}
.context-menu.visible {
  display: flex;
}
.context-menu ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
}
.context-menu ul li {
  width: 100%;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  border: 1px solid black;
  display: flex;
  list-style: none;
  align-items: center;
  color: blanchedalmond;
  cursor: pointer;
}
.context-menu ul li:hover {
  background-color: rgba(200, 200, 200, 0.1);
}

.rename {
  width: 200px;
  height: 30px;
  position: fixed;
  top: 1.5em;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

.rename.visible {
  display: block;
}

#newfilename {
  width: 200px;
  padding: 0.3em 1em;
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#newfilename:focus {
  outline: none;
}
